/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400 / Medium: 500 / Semi-bold: 600 / Bold: 700

- Line heights
Default: 1 / Small: 1.05 / Medium: 1.2 / Paragraph default: 1.6

- Letter spacing
-0.5px / 0.75px


- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  font-weight: 400; }

.row {
  max-width: 114rem;
  margin: 0 auto; }

.heading-primary {
  font-size: 5rem;
  color: #f2f2f2;
  line-height: 1;
  font-weight: 500; }

.paragraph {
  font-size: 1.6rem;
  color: #f2f2f2;
  font-size: 1.6rem;
  line-height: 1.8; }

.u-mt-sm {
  margin-top: 2.5rem; }

.u-mb-sm {
  margin-bottom: 2.5rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  color: #f2f2f2;
  font-size: 1.4rem;
  padding: 1rem 4rem;
  cursor: pointer;
  transition: all 0.2s ease; }

.btn--purple {
  background: linear-gradient(87deg, #3f51b5 0%, #8c3ab7 100%); }

.btn:hover {
  transform: scale(1.05); }

.btn:active {
  outline: none;
  transform: scale(1.05) translateY(3px); }

.nav {
  padding: 2rem 0;
  background-color: white;
  position: relative;
  top: 3rem; }
  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .nav__links {
    list-style: none;
    display: flex;
    gap: 3.2rem; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    display: inline-block;
    color: #777;
    font-size: 1.6rem;
    transition: all 0.2s;
    background-color: orangered; }
  .nav__link:hover, .nav__link:active {
    color: #37306b; }
  .nav__input {
    padding: 6px 1.4rem;
    border-radius: 100px;
    background-color: orchid; }

.header {
  height: 100vh;
  background: linear-gradient(to right, rgba(55, 48, 107, 0.8), rgba(55, 48, 107, 0.8)), url(/img/bgimg.jfif);
  background-size: cover;
  background-position: bottom;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); }
