/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400 / Medium: 500 / Semi-bold: 600 / Bold: 700

- Line heights
Default: 1 / Small: 1.05 / Medium: 1.2 / Paragraph default: 1.6

- Letter spacing
-0.5px / 0.75px


- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  font-weight: 400; }

.row {
  max-width: 114rem;
  margin: 0 auto; }

.heading-primary {
  font-size: 5rem;
  color: #f2f2f2;
  line-height: 1;
  font-weight: 500; }

.paragraph {
  font-size: 1.6rem;
  color: #f2f2f2;
  font-size: 1.6rem;
  line-height: 1.8; }

.u-mt-sm {
  margin-top: 2.5rem; }

.u-mb-sm {
  margin-bottom: 2.5rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  color: #f2f2f2;
  font-size: 1.6rem;
  padding: 1.4rem 2rem;
  cursor: pointer;
  transition: all 0.2s ease; }

.btn--purple {
  background: linear-gradient(87deg, #3f51b5 0%, #8c3ab7 100%); }

.btn:active {
  outline: none;
  transform: scale(1.05) translateY(3px); }

.nav {
  padding: 1.8rem 0;
  background-color: white;
  position: relative;
  top: 3rem; }
  .nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.2rem; }
  .nav__text {
    font-weight: 600;
    font-size: 1.4rem;
    text-decoration: none;
    color: #8c3ab7; }
  .nav__icon {
    font-size: 3.5rem;
    display: flex;
    color: #8c3ab7; }
  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .nav__links {
    list-style: none;
    display: flex;
    gap: 3.2rem; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    display: inline-block;
    color: #888;
    font-size: 1.4rem;
    border-bottom: 2px solid transparent;
    transition: all 0.2s;
    position: relative; }
  .nav__link:hover, .nav__link:active {
    color: #8c3ab7;
    border-bottom: 2px solid #8c3ab7; }
  .nav__form {
    flex: 0 0 30%;
    display: flex;
    align-items: center; }
  .nav__input {
    background: #fff;
    font-size: 1.4rem;
    color: #6d6d6d;
    font-family: inherit;
    border: 1px solid #d2d2d2;
    border-radius: 100px;
    padding: 0.8rem 1.4rem;
    width: 95%;
    margin-right: -3.5rem;
    transition: all 0.2s; }
    .nav__input:focus {
      outline: none;
      width: 100%; }
    .nav__input::placeholder {
      color: #888; }
  .nav__button {
    border: none;
    background-color: #fff;
    font-size: 1.6rem;
    color: #888;
    cursor: pointer;
    transition: all 0.2s; }
    .nav__button:focus {
      outline: none; }
    .nav__button:active {
      transform: translateY(2px); }

.header {
  height: 100vh;
  background: linear-gradient(to right, rgba(55, 48, 107, 0.8), rgba(55, 48, 107, 0.8)), url(/img/bgimg.jfif);
  background-size: cover;
  background-position: bottom;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 55%;
    transform: translate(0, -50%); }
