.nav {
  padding: 1.6rem 0;
  background-color: white;
  position: relative;
  top: 3.2rem;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.8rem;
  }

  &__text {
    font-weight: 600;
    font-size: 1.8rem;
    text-decoration: none;
    color: $color-secondary;
  }

  &__icon {
    font-size: 3.6rem;
    display: flex;
    color: $color-secondary;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    list-style: none;
    display: flex;
    gap: 3.2rem;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    display: inline-block;
    color: $color-grey;
    font-size: 1.6rem;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: all 0.2s;
    position: relative;
  }

  &__link:hover,
  &__link:active {
    color: $color-secondary;
    border-bottom: 2px solid $color-secondary;
  }

  &__form {
    flex: 0 0 30%;
    display: flex;
    align-items: center;
  }

  &__input {
    background: #fff;
    font-size: 1.6rem;
    color: $color-grey-dark;
    font-family: inherit;
    border: 1px solid $color-white-dark;
    border-radius: 100px;
    padding: 0.8rem 1.6rem;
    width: 95%;
    margin-right: -3.6rem;
    transition: all 0.2s;

    &:focus {
      outline: none;
      width: 100%;
    }

    &::placeholder {
      color: $color-grey;
    }
  }

  &__button {
    border: none;
    background-color: #fff;
    font-size: $default-font-size;
    color: $color-grey;
    cursor: pointer;
    transition: all 0.2s;
    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }
}
