body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.7;
}

.heading-primary {
  font-size: 4rem;
  color: $color-white;
  line-height: 1.3;
}

.paragraph {
  font-size: 1.5rem;
  font-weight: 300;
  color: $color-white;
  font-size: $default-font-size;
}
