.heading-primary {
  font-size: 5.2rem;
  color: $color-white;
  line-height: 1;
  font-weight: 500;
}

.paragraph {
  font-size: 1.6rem;
  color: $color-white;
  font-size: $default-font-size;
  line-height: 1.8;
}
